.header-logo {
  font-size: rem(26);
  @include breakpoint(medium) {
    font-size: rem(38);
  }
  font-weight: 700;
}
header {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  padding-top: rem(20);

  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.header-phone {
  font-weight: 700;
  font-size: rem(16);
}

.language-toggle {
  font-size: rem(16);
  margin-top: rem(5);
  @include breakpoint(medium) {
    margin-top: 0;
    font-size: rem(14);
  }
}
