p {
  font-size: rem(14);
}

a {
  border-bottom: 1px solid;
  border-color: transparent;
  transition: all .3s;
  &:hover {
    transition-duration: 0s;
    padding-bottom: rem(.1);
    // text-decoration: underline; text-decoration: underline;
    border-color: currentColor;

  }
}

.hero {
  background-color: $primary-color;
  padding-top: rem(110);
  color: #fff;
  @include breakpoint(large) {
    height: rem(450);
    
  }
}

h1 + .subheader {
  font-size: rem(20);
  @include breakpoint(medium) {
    font-size: rem(24);
  }
  padding: 0;
  margin: 0;
  margin-top: rem(20);
}

.title {
  margin-bottom: rem(50);
}

.hero-info {
  .grid-x {
    p {
      &:before {
        content: '- ';
        display: inline;
        @include breakpoint(large) {
          content: none;
        }
      }
    }
  }
}

.hero-subtitle {
  max-width: rem(360);
  font-size: rem(16);
  margin-bottom: rem(20);
}

.visual-container {
  position: relative;
  height: 100%;
  text-align: center;
  img {
    z-index: 0;
      left: rem(30);
      position: relative;
      @include breakpoint(large) {
        position: absolute;
        bottom: 0;
        right: rem(-85);
        max-width: initial;
        left: auto;
    }
  }
}

h2 {
  margin-bottom: rem(30);
}


.service-card {
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
  
  .service-title ~ p {
    text-align: left;
  }

  margin-bottom: rem(25);
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}

.service-title {
  font-weight: 700;
  margin-bottom: rem(20);
  font-size: rem(16);
}

.service-card img {
  margin-bottom: rem(20);
  width: rem(80);
}

p {
  font-size: rem(14);
}

.services {
  padding-top: rem(35);
  margin-bottom: rem(40);
}

.contacts-title {
  margin-bottom: rem(10);
}

.contacts-email a {
  line-height: 1;
  font-size: rem(20);
  @include breakpoint(medium) {
    font-size: rem(24);
  }
  color: $primary-color;
  text-decoration: underline;
  &:hover {
    border: none;
  }
}

.contacts {
  padding-bottom: rem(55);
}
