<header>
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-order-1 small-6 medium-4 ">
				<div class="header-logo">
					OpenMedia
				</div>
			</div>
			<div class="cell medium-4 small-order-3 medium-order-2 medium-5 medium-offset-2">
				<p class="medium text-right">
					<span class="show-for-medium"> Служба технической поддержки:
						<br/>
					</span>

					<a class="header-phone" href="tel:+7 727 355 0575">+7 727 355 0575</a>
				</p>
			</div>
			<div class="cell small-6 small-order-2 medium-1 medium-order-3 ">
				<p class="text-right language-toggle">
					<a href="#">Eng</a>
				</p>
			</div>
		</div>
	</div>
</header>